/* CSS for about-us.html */

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

#content-card-1,
#content-card-2,
#content-card-3,
#content-card-4,
#content-card-5 {
    display: grid;
    margin-top: 10px;
    width: 90%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    font-weight: 600;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
}

#content-card-1 {
    margin-bottom: 90px !important;
    background: url("/img/background_pattern.png");
}

#about-us-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#about-us {
    margin: 0;
    border: none;
    background: none;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 90%;
}

.text-container p {
    text-align: justify;
    padding: 10px;
}

.bio-pic {
    align-self: center;
    width: 70%;
    height: 70%;
    object-fit: scale-down;
    border: 2px solid #ff7b00;
    border-style: dashed;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#card-button-container-1 {
    align-self: center;
}