body {
    background-image: url('../images/background_clouds.png');
}

.navbar-brand {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 13pt;
}

.navbar {
    background-color: rgb(72, 143, 102);
}

.Card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "Title"
    "Cards";
    background-image: url('../images/background_pattern.png');
    margin-top: 50px;
    padding: 50px;
    width: 18rem;
    
}

.Title {
    grid-area: Title;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

.Cards {
    grid-area: Cards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "Picture" 
    "Name" 
    "Description";
}

.Picture {
    grid-area: Picture;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Name {
    grid-area: Name;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Description {
    grid-area: Description;
    display: flex;
    align-items: center;
    justify-content: center;
}