.navbar-brand {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 13pt;
}

.navbar-brand:hover {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.85);
}

.navbar-brand:active {
    text-shadow: 5px 5px 5px rgba(116, 117, 116, 0.85);
}

.navbar {
    background-color: rgb(72, 143, 102);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.task-page {
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 10px 5px rgb(207, 207, 207));
    padding: 100px;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    width: 22rem;
}

.title-rate {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "title"
        "button";
}

.title {
    grid-area: title;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.button {
    grid-area: button;
}

.desc-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
        "Description Description Description how-to how-to"
        "Description Description Description why why"
        "Accept Accept done done done";
}

.Description {
    grid-area: Description;
    padding: 10px;
    outline: auto;


}

.Accept {
    grid-area: Accept;
    background: rgb(189, 209, 198);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.done {
    grid-area: done;
    background: rgb(189, 209, 198);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.how-to {
    grid-area: how-to;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why {
    grid-area: why;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-secondary {
    font-size: 1em;
}


/* We can change the media query width later */
@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}