/* CSS for all pages */

/* Nav bar styling */
.navbar-brand {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 13pt;
}

.navbar {
    background-color: rgba(53, 255, 46, 0.788);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.task-page {
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 10px 5px rgb(207, 207, 207));
    padding: 100px;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    width: 22rem;
}

.title-rate {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "title"
        "button";
}

.title {
    grid-area: title;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.button {
    grid-area: button;
}

.desc-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
        "Description Description Description how-to how-to"
        "Description Description Description why why"
        "Accept Accept done done done";
}

.Description {
    grid-area: Description;
    padding: 10px;
    outline: auto;


}

.Accept {
    grid-area: Accept;
    background: rgb(189, 209, 198);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.done {
    grid-area: done;
    background: rgb(189, 209, 198);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.how-to {
    grid-area: how-to;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why {
    grid-area: why;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-secondary {
    font-size: 1em;
}


/* We can change the media query width later */
@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

/* Body styling */
body {
    font-family: 'Mali', Arial, Helvetica, sans-serif;
    font-size: 13pt;
    background-image: url('/img/background_clouds.png');
    background-repeat: repeat-x repeat-y;
}

/* Page container and heading styling */
.page-container {
    margin-top: 50px;
}

.heading-container {
    display: flex;
    grid-area: header;
    font-family: 'Press Start 2P';
    font-size: 16pt;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    /* text-shadow: 0px 0px 1px rgb(255, 255, 255); */
}

.page-heading {
    display: flex;
    height: 100%;
    align-items: center;
}

/* Content card styling */
#main-content-card {
    display: grid;
    grid-area: content-card;
    margin-top: 10px;
    width: 90%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    background: url('/img/background_pattern.png');
    /* background-color: rgb(255, 255, 110); */
}

.card-text-container {
    display: flex;
    grid-area: card-text;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20pt;
}

/* Other styling */
.button {
    color: white;
    text-decoration: none;
}