/** CSS for educator-create-class.html */
#main-content-card {
    grid-template-areas: 
        "card-text"
        "input"
        "chars-remaining"
        "submit"
        "feedback";
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.input-container {
    display: flex;
    grid-area: input;
    justify-content: center;
}

#class-nickname {
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
}

.characters-remaining-container {
    display: flex;
    grid-area: chars-remaining;
    margin-left: 40px;
    font-size: 10pt;
}

#characters-remaining {
    display: flex;
    height: 100%;
}

#counter {
    display: flex;
    border: none;
    background-color: none;
    margin-left: 1px;
    height: 20px;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    grid-area: submit;
    background-color: rgb(72, 143, 102);
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
}

#submit-button {
    display: flex;
    height: 100%;
    align-items: center;
}

.feedback-placeholder {
    display: flex;
    justify-content: center;
    grid-area: feedback;
    height: 50px;
}

#feedback {
    display: flex;
    height: 100%;
    align-items: center;
}




