/** CSS for educator-new-home.html */
.page-container {
    margin-top: 50px;
}

#main-content-card {
    grid-template-areas: 
        "card-text"
        "buttons";
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    grid-area: buttons;
    background-color: rgb(53, 255, 46);
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-bottom: 40px;
}

#create-a-class-button {
    display: flex;
    height: 100%;
    align-items: center;
}
