/** CSS for educator-manage-classes.html */
#main-content-card {
    grid-template-areas:
        "card-text"
        "class-list"
        "break"
        "home";
    margin-bottom: 60px !important;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.class-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    justify-self: center;
    /* height: 300px; */
    grid-area: class-list;
    /* overflow: scroll; */
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.class-list::-webkit-scrollbar {
    display: none;
}
  
.class-list {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.class-container {
    width: 100%;
    min-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff80ee;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

.class-container {
    transform: translate3D(0, 0, 0);
    transition: color 0.3s, transform 0.15s;
    cursor: pointer;
}

.class-container:active {
    transform: translate3D(0, 4px, 0);
}

.class-name {
    color: white;
    font-size: 15pt;
}

#break {
    grid-area: break;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#card-button-container-1 {
    margin-bottom: 40px;
}

.message-container {
    text-align: center;
    height: 93%;
    align-self: center;
}

.message-container img {
    border: none;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.message {
    font-weight: 600;
    font-size: 12pt;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 55%;
    top: 18%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #28c513;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
