/** CSS for educator-add-students.html */
#main-content-card {
    grid-template-areas:
        "card-text"
        "student-list"
        "submit"
        "home";
    margin-bottom: 60px !important;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.student-list {
    grid-area: student-list;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.student-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "name icon";
    margin-bottom: 10px;
}

.student-name {
    display: flex;
    height: 100%;
    align-items: center;
    grid-area: name;
    margin-left: 25px;
}

.icon-container {
    display: flex;
    height: 100%;
    align-items: center;
    grid-area: icon;
    margin-left: 10px;
}

.icon {
    height: 24px;
    width: 24px;
}

.message {
    text-align: center;
    font-weight: 600;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

#card-button-container-1 {
    grid-area: submit;
}

#card-button-container-2 {
    grid-area: home;
    margin-bottom: 40px;
}

#submit-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#home-button {
    display: flex;
    height: 100%;
    align-items: center;
}