/** CSS for educator-approve-quest.html */

.modal-header {
    border: none;
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    justify-content: center;
    height: 500px;
    /* word-wrap: break-word; */
}

.modal-body img {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

.modal-footer {
    border: none;
}

.btn {
    background-color: #ff80ee;
    border: none;
}

#main-content-card {
    grid-template-columns: 100%;
    grid-template-areas:
        "card-text"
        "quest-submitter"
        "quest-description"
        "quest-notes"
        "quest-points"
        "uploaded-images"
        "approve"
        "reject"
        "feedback";
    align-items: center;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
}

.text-container {
    display: grid;
    margin-left: 10px;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: flex-end
}

.text-container :nth-child(2) {
    align-items: flex-start;
}

#quest-submitter-container {
    grid-area: quest-submitter;
}

#quest-description-container {
    grid-area: quest-description;
}

#quest-notes-container {
    grid-area: quest-notes;
}

#quest-points-container {
    grid-area: quest-points;
}

.input-container {
    display: flex;
    height: 100%;
    align-items: center;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    width: 100px;
}

#uploaded-images-container {
    grid-area: uploaded-images;
}

.page-container ul {
    /* text-align: center; */
    margin-bottom: 10px;
    width: 80%;
    align-self: center;
    font-size: 12pt;
    padding: 0;
}

.page-container li {
    list-style: none;
    margin-bottom: 5px;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

#card-button-container-1 {
    grid-area: approve;
}

#card-button-container-2 {
    grid-area: reject;
}

#approve-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#reject-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.feedback-placeholder {
    display: flex;
    justify-content: center;
    grid-area: feedback;
    height: 70px;
}

#feedback {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: green;
}