/** CSS for educator-approve-quest.html */

.modal-header {
    border: none;
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    justify-content: center;
    height: 500px;
    /* word-wrap: break-word; */
}

.modal-body img {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

.modal-footer {
    border: none;
}

.btn {
    background-color: #ff80ee;
    border: none;
}

#main-content-card {
    grid-template-columns: 100%;
    grid-template-areas:
        "card-text"
        "quest-submitter"
        "quest-description"
        "quest-notes"
        "quest-points"
        "uploaded-images"
        "feedback"
        "approve"
        "reject"
        "break"
        "back";
    align-items: center;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
}

.text-container {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: flex-end
}

.text-container :nth-child(2) {
    align-items: flex-start;
}

#quest-submitter-container {
    grid-area: quest-submitter;
}

#quest-description-container {
    grid-area: quest-description;
}

#quest-notes-container {
    grid-area: quest-notes;
}

#quest-points-container {
    grid-area: quest-points;
}

.input-container {
    display: flex;
    height: 100%;
    align-items: center;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    width: 100px;
}

#uploaded-images-container {
    grid-area: uploaded-images;
}

.page-container ul {
    /* text-align: center; */
    margin-bottom: 10px;
    width: 80%;
    align-self: center;
    font-size: 12pt;
    padding: 0;
}

.page-container li {
    list-style: none;
    margin-bottom: 5px;
}

#card-button-container-1 {
    grid-area: approve;
}

#card-button-container-2 {
    grid-area: reject;
    margin: 0;
}

#card-button-container-3 {
    grid-area: back;
    margin-bottom: 40px;
}

#approve-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#reject-button {
    display: flex;
    height: 100%;
    align-items: center;
}

.feedback-placeholder {
    display: flex;
    justify-content: center;
    grid-area: feedback;
    height: 20px;
    margin-bottom: 20px;
}

#feedback {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 55%;
    top: 18%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #28c513;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
