/** CSS for educator-create-group.html */
#main-content-card {
    grid-template-areas: 
        "card-text"
        "student-list"
        "submit";
    margin-bottom: 60px !important;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.student-list {
    grid-area: student-list;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.student-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
        "name icon";
    margin-bottom: 10px;
}

.student-name {
    display: flex;
    height: 100%;
    align-items: center;
    grid-area: name;
    margin-left: 25px;
}

.icon-container {
    display: flex;
    height: 100%;
    align-items: center;
    grid-area: icon;
    margin-left: 10px;
}

.icon {
    height: 24px;
    width: 24px;
    filter: invert(48%) sepia(28%) saturate(600%) hue-rotate(93deg) brightness(96%) contrast(95%);
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    grid-area: submit;
    background-color: rgb(72, 143, 102);
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#submit-button {
    display: flex;
    height: 100%;
    align-items: center;
}
