<<<<<<< HEAD
/** CSS for educator-manage-tasks.html */
#main-content-card {
    grid-template-areas: 
        "card-text"
        "task-list";
=======
/** CSS for educator-manage-classes.html */
#main-content-card {
    grid-template-areas: 
        "card-text"
        "class-list";
>>>>>>> daf5298ac89353bb84bcb1877cafba77e52dfca7
    margin-bottom: 60px !important;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    grid-area: task-list;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.task-container {
    display: flex;
    width: 50%;
    height: 50px;
    justify-content: center;
    justify-self: flex-end;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #ff80ee;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

.task-name {
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 15pt;
}

.message {
    text-align: center;
    font-weight: 600;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    grid-area: back;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

#back-button {
    display: flex;
    height: 100%;
    align-items: center;
}
