/** CSS for educator-home.html */

.page-container {
    margin-top: 50px;
}

#main-content-card {
    grid-template-areas:
        "card-text"
        "feedback"
        "approve-quests"
        "manage-classes"
        "create-class"
        "break"
        "logout";
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.card-text {
    height: 100%;
}

#card-button-container-1 {
    grid-area: manage-classes;
}

#card-button-container-2 {
    grid-area: approve-quests;
}

#card-button-container-3 {
    grid-area: create-class;
    margin-bottom: 0;
}

#card-button-container-4 {
    grid-area: logout;
    margin-bottom: 40px;
}

.button {
    display: flex;
    height: 100%;
    align-items: center;
}