/** CSS for educator-new-home.html */
.page-container {
    margin-top: 50px;
}

#main-content-card {
    grid-template-areas:
        "card-text"
        "feedback"
        "approve-quests"
        "manage-classes"
        "create-class"
        "break"
        "logout";
}

.card-text-container {
    margin-top: 20px;
    text-align: center;
}

.card-text {
    height: 100%;
}

/* .card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
} */

#card-button-container-1 {
    grid-area: manage-classes;
}

#card-button-container-2 {
    grid-area: approve-quests;
}

#card-button-container-3 {
    grid-area: create-class;
}

#card-button-container-4 {
    grid-area: logout;
    margin-bottom: 40px;
}

.button {
    display: flex;
    height: 100%;
    align-items: center;
}

.feedback-placeholder {
    display: flex;
    justify-content: center;
    grid-area: feedback;
    height: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#feedback {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: red;
}