/** CSS for educator-manage-class.html */

.page-container {
    margin-top: 50px;
}

#main-content-card {
    grid-template-areas:
        "card-text"
        "add-students"
        "remove-students"
        "delete-class"
        "break"
        "home";
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.card-text {
    height: 100%;
}

#card-button-container-1 {
    grid-area: add-students;
}

#card-button-container-2 {
    grid-area: remove-students;
}
#card-button-container-3 {
    grid-area: delete-class;
    margin-bottom: 0;
}

#card-button-container-4 {
    grid-area: home;
    margin-bottom: 40px;
}

.inactive {
    background-color: rgb(200, 200, 200);
}

.inactive:active {
    transform: none;
}

.button {
    display: flex;
    height: 100%;
    width: 90%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#remove-students-button {
    position: relative;
    top: -2px;
}

#button {
    width: 100%;
}
