/** CSS for educator-manage-classes.html */
#main-content-card {
    grid-template-areas:
        "card-text"
        "class-list"
        "break"
        "home";
    margin-bottom: 60px !important;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.class-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    justify-self: center;
    /* height: 300px; */
    grid-area: class-list;
    /* overflow: scroll; */
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.class-list::-webkit-scrollbar {
    display: none;
}
  
.class-list {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.class-container {
    width: 100%;
    min-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff80ee;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

.class-container {
    transform: translate3D(0, 0, 0);
    transition: color 0.3s, transform 0.15s;
    cursor: pointer;
}

.class-container:active {
    transform: translate3D(0, 4px, 0);
}

.class-name {
    color: white;
    font-size: 15pt;
}

.message {
    text-align: center;
    font-weight: 600;
}

#break {
    grid-area: break;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#card-button-container-1 {
    margin-bottom: 40px;
}