/** CSS for educator-manage-classes.html */
#main-content-card {
    grid-template-areas:
        "card-text"
        "class-list"
        "break"
        "home";
    margin-bottom: 60px !important;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.class-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 300px; */
    grid-area: class-list;
    /* overflow: scroll; */
    overflow-x: hidden;
}

.class-container {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff80ee;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
    text-align: center;
}

.class-container {
    transform: translate3D(0, 0, 0);
    transition: color 0.3s, transform 0.15s;
    cursor: pointer;
}

.class-container:active {
    transform: translate3D(0, 4px, 0);
}

.class-name {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15pt;
    width: 95%;

}

.message {
    text-align: center;
    font-weight: 600;
}

#break {
    grid-area: break;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    grid-area: home;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
    align-items: center;
}

#home-button {
    display: flex;
    height: 100%;
    align-items: center;
}