/** CSS for index.html */

#main-content-card {
    grid-template-areas:
        "subtext"
        "bitmoji"
        "extra-break"
        "description"
        "break"
        "login";
    align-items: center;
    font-size: 15pt;
    margin-bottom: 20px;
}

.text-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    justify-self: center;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
}

#subtext-container {
    grid-area: subtext;
    height: 100px;
    margin-top: 15px;
    font-weight: 600;
}

#bitmoji {
    height: 180px;
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
    justify-self: center;
}

hr {
    width: 90%;
    justify-self: center;
}

#break-1 {
    grid-area: break-1;
}

#description-container {
    height: 200px;
}

#description {
    grid-area: description;
}

#break-2 {
    grid-area: break-2;
}

#card-button-container-1 {
    grid-area: login;
    margin-bottom: 40px;
}

#login-button {
    display: flex;
    height: 100%;
    align-items: center;
}

@keyframes Slide_Up {
    0% {
        transform: translateY(70px);
    }

    100% {
        transform: translateY(0);
    }
}