/** CSS for login.html */

#main-content-card {
    grid-template-areas: 
        "card-text"
        "form"
        "login";
    margin-bottom: 40px !important;
}

.card-text-container {
    margin-top: 20px;
    justify-content: center;
}

.card-text {
    display: flex;
    height: 100%;
    align-items: center;
}

.radio-button-container {
    display: flex;
    flex-direction: column;
    grid-area: form;
    font-size: 15pt;
    justify-content: center;
    margin-top: 20px;
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-label {
    margin-left: 10px;
}

.form-check-input {
    height: 20px;
    width: 20px;
    position: relative;
    top: -2px;
}

#student-radio, #student-radio-label {
    position: relative;
    left: -8px;
}

#firebaseui-auth-container {
    grid-area: login;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 90%;
    justify-self: center;
    border: 2px solid #ff80ee;
    border-style: dashed;
    border-radius: 10px;
}

.firebaseui-container.mdl-card {
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
}

.firebaseui-title {
    text-align: center;
    font-family: 'Mali', Arial, Helvetica, sans-serif;
}

.firebaseui-label {
    font-family: 'Mali', Arial, Helvetica, sans-serif;
}


.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
    background-color: #ff8000;
}

.firebaseui-textfield.mdl-textfield .firebaseui-input {
    font-family: 'Mali', Arial, Helvetica, sans-serif;
}


.mdl-button--primary.mdl-button--primary {
    font-family: 'Mali', Arial, Helvetica, sans-serif;
    color: #ff80ee;
}

.mdl-button--raised.mdl-button--colored {
    font-family: 'Mali', Arial, Helvetica, sans-serif;
    background-color: #ff80ee;
    font-weight: 600;
}

.mdl-button--raised.mdl-button--colored:hover {
    background-color: #ff80ee;
}

.firebaseui-card-footer p {
    text-align: center;
}