/* CSS for modal btns in more info page*/
.more-info-modal-btn-container {
    width: max-content;
    height: max-content;
}

.more-info-modal {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    background-color: rgb(72, 143, 102);
    font-size: 10pt;
}

.more-info-dialog {
    width: max-content;
}

.more-info-modal-btn {
    display: flex;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 2vh;
    border-color: rgb(72, 143, 102);
    color: rgb(72, 143, 102);
    font-size: 10pt;
    width: 40vw;
    border-width:medium;
    margin: 10px;
}

.more-info-modal-btn:hover {
    background: rgb(72, 143, 102);
    border-color: rgb(72, 143, 102);
}

.more-info-modal-btn:focus {
    background: white;
    border-color: rgb(72, 143, 102);
    color: rgb(72, 143, 102);
    box-shadow: 0 0 0 0.25rem white;
}

.more-info-modal-btn:active {
    background: white;
    border-color: rgb(72, 143, 102);
    color: rgb(72, 143, 102);
    box-shadow: 0 0 0 0.25rem white;
}

.more-info-modal-btn:active:focus {
    background: white;
    border-color: rgb(72, 143, 102);
    color: rgb(72, 143, 102);
    box-shadow: 0 0 0 0.25rem white;
}

.modal-content {
    min-width: 100%;
}

.modal-content iframe {
    width: 430px;
    height: 315px;
}
