/** CSS for student-processed-quests.html */

#main-content-card {
    grid-template-areas:
        "quest-list"
        "break"
        "home";
    margin-bottom: 60px !important;
}

.quest-list {
    /* display: flex; */
    width: 90%;
    max-height: 600px;
    grid-area: quest-list;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 10pt;
    justify-self: center;
    padding-right: 9px;
    padding-left: 9px;
}

.quest-list::-webkit-scrollbar {
    display: none;
  }
  
.quest-list {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.quest-container {
    display: grid;
    grid-template-columns: 36% 64%;
    grid-template-rows: repeat(3, 33.3px);
    grid-template-areas: 
        "quest-bitmoji quest-title"
        "quest-bitmoji quest-points"
        'quest-bitmoji quest-date';
    /* background-color: rgb(255, 241, 254); */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/img/background_pattern_8.png");
    border-radius: 10px;
    align-items: center;
    /* margin-bottom: 15px; */
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    margin-bottom: 15px;
}

.quest-title {
    /* display: flex;
    height: 100%;
    align-items: center; */
    grid-area: quest-title;
    font-weight: 600;
    /* justify-self: center; */
    margin: 0;
    /* margin-left: 10px; */
}

.quest-points {
    grid-area: quest-points;
    /* justify-self: center; */
    margin: 0;
}

.quest-date {
    grid-area: quest-date;
    /* justify-self: center; */
    margin: 0;
}

img {
    grid-area: quest-bitmoji;
    height: 85px;
    width: 85px;
    border: 1px solid #ff7b00;
    border-style: dashed;
    border-radius: 10px;
    justify-self: center;
    object-fit: scale-down;
}

.message {
    text-align: center;
    font-weight: 600;
}

hr {
    grid-area: break;
    width: 90%;
    justify-self: center;
}

/* .card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    grid-area: home;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 8px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
} */

#card-button-container-1 {
    margin-bottom: 40px;
}

#home-button {
    display: flex;
    height: 100%;
    align-items: center;
}