/** CSS for educator-create-class.html */
#main-content-card {
    grid-template-columns: 100%;
    grid-template-areas: 
        "images"
        "input"
        "submit"
        "home";
    align-items: center;
}

.image-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: images;
    margin-top: 60px;
    width: 90%;
    border: 2px solid #ff80ee;
    border-style: dashed;
    border-radius: 10px;
    justify-self: center;
}

.text-container {
    display: flex;
    justify-content: center;
}

#task-notes-container {
    height: 30px;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 15pt;
    margin: 0;
}

#uploaded-images-header {
    margin-top: 20px;
}

.message {
    font-weight: 600;
}

ul {
    text-align: center;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

li {
    list-style: none;
}

#upload-image-input {
    width: 70%;
    font-size: 10pt;
    margin-bottom: 15px;
}

.task-notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: input;
    margin-top: 30px;
}

#input-container {
    display: flex;
    justify-content: center;
}

#task-notes {
    width: 90%;
}

#characters-remaining-container {
    display: flex;
    margin-left: 20px;
    font-size: 10pt;
    grid-area: chars-remaining;
}

#characters-remaining {
    display: flex;
    height: 100%;
}

#counter {
    display: flex;
    border: none;
    background-color: transparent;
    margin-left: 1px;
    height: 21px;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
}

#card-button-container-1 {
    grid-area: submit;
}

#card-button-container-2 {
    grid-area: home;
}

#submit-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#home-button {
    display: flex;
    height: 100%;
    align-items: center;
}

.feedback-placeholder {
    display: flex;
    justify-content: center;
    grid-area: feedback;
    height: 70px;
}

#feedback {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}
