/** CSS for student-choose-quest.html */

.modal-header {
    border: none;
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    justify-content: center;
    max-height: max-content;
    /* word-wrap: break-word; */
}

.modal-body iframe {
    width: 430px;
    height: 315px;
}

.modal-footer {
    border: none;
}

.btn {
    background-color: #ff80ee;
    border: none;
}

#main-content-card {
    grid-template-columns: 100%;
    grid-template-areas:
        "title"
        "bitmoji"
        "description"
        "instructions"
        "more-info"
        "accept"
        "reject"
        "break"
        "back";
    align-items: center;
}

.text-container {
    display: flex;
    justify-content: center;
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}

#quest-title-container {
    grid-area: title;
    font-weight: 600;
    margin-top: 20px;
    height: 45px;
}

.image-container {
    grid-area: bitmoji;
    height: 180px;
    width: 180px;
    justify-self: center;
    border: 2px solid #ff80ee;
    border-style: dashed;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

#quest-description-container {
    grid-area: description;
    margin-bottom: 0;
    width: 90%;
    justify-self: center;
}

#quest-instructions-container {
    grid-area: instructions;
    margin-top: 0;
    margin-bottom: 0;
}

#quest-information-container {
    grid-area: more-info;
    margin-top: 10px;
    margin-bottom: 35px;
}

#card-button-container-1 {
    grid-area: accept;
}

#card-button-container-2 {
    grid-area: reject;
    margin-bottom: 0;
}

#card-button-container-3 {
    grid-area: back;
    margin-bottom: 40px;
}

#quest-instructions,
#quest-information {
    border-bottom: 1px solid black;
    border-bottom-style: dotted;
    text-decoration: none;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 55%;
    top: 30%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #28c513;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }