/** CSS for student-submit-quest.html */

.modal-header {
    border: none;
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    justify-content: center;
    height: 500px;
    /* word-wrap: break-word; */
}

.modal-body img {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

.modal-footer {
    border: none;
}

.btn {
    background-color: #ff80ee;
    border: none;
}

#main-content-card {
    grid-template-columns: 100%;
    grid-template-areas:
        "images"
        "input"
        "feedback"
        "submit"
        "break"
        "home"
        "back"
        ;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: images;
    margin-top: 60px;
    width: 90%;
    border: 2px solid #ff80ee;
    border-style: dashed;
    border-radius: 10px;
    justify-self: center;
}

.text-container {
    display: flex;
    justify-content: center;
}

#quest-notes-container {
    height: 30px;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 15pt;
    margin: 0;
}

#uploaded-images-header {
    margin-top: 20px;
}

.message {
    font-weight: 600;
    text-align: center;
}

.page-container ul {
    /* text-align: center; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    align-self: center;
    font-size: 12pt;
    padding: 0;
}

.page-container li {
    display: grid;
    grid-template-columns: 90% 10%;
    list-style: none;
    margin-bottom: 5px;
}

.remove-icon {
    width: 24px;
    height: 24px;
}

#upload-image-input {
    width: 70%;
    font-size: 10pt;
    margin-bottom: 15px;
}

.quest-notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: input;
    margin-top: 30px;
}

#input-container {
    display: flex;
    justify-content: center;
}

#quest-notes {
    width: 90%;
}

#characters-remaining-container {
    display: flex;
    margin-left: 20px;
    font-size: 10pt;
    grid-area: chars-remaining;
}

#characters-remaining {
    display: flex;
    height: 100%;
}

#counter {
    display: flex;
    border: none;
    background-color: transparent;
    margin-left: 1px;
    height: 21px;
}

#card-button-container-1 {
    grid-area: submit;
}

#card-button-container-2 {
    grid-area: home;
}

#card-button-container-3 {
    grid-area: back;
    margin-bottom: 40px;
}

#submit-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#home-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#back-button {
    display: flex;
    height: 100%;
    align-items: center;
}

.feedback-placeholder {
    display: flex;
    justify-content: center;
    grid-area: feedback;
    height: 20px;
    margin-bottom: 20px;
}

#feedback {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: 600;
}