/** CSS for student-submit-quest.html */

.modal-header {
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
    max-height: 100vh;
}

.modal-footer {
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
}

.modal-body img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.btn {
    background-color: #ff80ee;
    border: none;
}

#main-content-card {
    grid-template-columns: 100%;
    grid-template-areas:
        "images"
        "input"
        "add-friends"
        "feedback"
        "submit"
        "break"
        "home"
        ;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: images;
    margin-top: 60px;
    width: 90%;
    border: 2px solid #ff80ee;
    border-style: dashed;
    border-radius: 10px;
    justify-self: center;
}

.text-container {
    display: flex;
    justify-content: center;
}

#quest-notes-container {
    height: 30px;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 15pt;
    margin: 0;
}

#uploaded-images-header {
    margin-top: 20px;
}

#no-images {
    font-weight: 600;
    text-align: center;
}

#image-info{
    align-self: flex-end;
    position: relative;
    right: 47px;
    width: 24px;
    height: 24px;
}

.page-container ul {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    align-self: center;
    font-size: 12pt;
    padding: 0;
}

.page-container li {
    display: grid;
    grid-template-columns: 90% 10%;
    list-style: none;
    margin-bottom: 5px;
}

.minus-icon-active, .minus-icon-inactive {
    width: 24px;
    height: 24px;
}

#upload-image-input {
    width: 70%;
    font-size: 10pt;
    margin-bottom: 15px;
}

.quest-notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: input;
    margin-top: 30px;
}

#input-container {
    display: flex;
    justify-content: center;
}

#quest-notes {
    width: 90%;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    font-size: 13pt;
}

#quest-notes::placeholder {
    color: rgb(180, 180, 180);
}

#characters-remaining-container {
    display: flex;
    margin-left: 20px;
    font-size: 10pt;
    grid-area: chars-remaining;
}

#characters-remaining {
    display: flex;
    height: 100%;
}

#counter {
    display: flex;
    border: none;
    background-color: transparent;
    margin-left: 1px;
    height: 21px;
}

#card-button-container-1 {
    grid-area: submit;
}

#card-button-container-2 {
    grid-area: home;
}

.add-friends-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: add-friends;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 90%;
    border: 2px solid #ff80ee;
    border-style: dashed;
    border-radius: 10px;
    justify-self: center;
}

#add-friends-header {
    margin-top: 20px;
}

.add-friends-container a {
    font-size: 12pt;
    color: black;
    align-self: center;
    padding-bottom: 30px;
}

#submit-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#home-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#back-button {
    display: flex;
    height: 100%;
    align-items: center;
}

.feedback-placeholder {
    display: flex;
    justify-content: center;
    grid-area: feedback;
    height: 20px;
    margin-bottom: 20px;
}

#feedback {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.popover-body {
    font-family: 'Mali', Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
    max-width: 180px;
}
