/** CSS for student-home.html */

.modal-header {
    /* border: none; */
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
    padding-top: 0;
}

.modal-body img {
    width: 250px;
    height: 250px;
}

.modal-footer {
    /* border: none; */
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/background_pattern_2.png");
}

.btn {
    background-color: #ff80ee;
    border: none;
    
}

.heading-container {
    margin-bottom: 10px;
}

.student-points-container {
    display: flex;
    justify-content: center;
    height: 35px;
    margin-bottom: 30px;
}

.student-points-container img {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 3px;
}

.student-points-container p {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: 'Mali', Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 600;
    margin-left: 10px;
    color: #ff8000;
    text-shadow: 1px 1px 1px rgba(62, 63, 66, 0.788);
}

#main-content-card {
    grid-template-areas:
        "card-text"
        "my-profile"
        "my-quest"
        "completed-quests"
        "leaderboards"
        "break"
        "logout";
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.card-text {
    height: 100%;
}

#card-button-container-1 {
    display: flex;
    grid-area: my-profile;
}

#card-button-container-2 {
    grid-area: my-quest;
}

#card-button-container-3 {
    grid-area: completed-quests;
}

#card-button-container-5 {
    grid-area: leaderboards;
}

#card-button-container-4 {
    grid-area: logout;
    margin-bottom: 40px;
}

.card-button-container .button {
    display: flex;
    height: 100%;
    align-items: center;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 55%;
    top: 18%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #28c513;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
