/** CSS for educator-manage-class.html */

.page-container {
    margin-top: 50px;
}

#main-content-card {
    grid-template-areas:
        "card-text"
        "processed-quests"
        "pending-quests"
        "break"
        "home";
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.card-text {
    height: 100%;
}

#card-button-container-1 {
    display: grid;
    grid-template-columns: 100% 0%;
    grid-template-areas: 
        "processed-quests notification";
    grid-area: processed-quests;
}

.notification {
    grid-area: notification;
    width: 17px;
    height: 17px;
    position: relative;
    left: -25px;
    top: 10px;
}

hr {
    grid-area: break;
    width: 90%;
    justify-self: center;
}

#card-button-container-2 {
    grid-area: pending-quests;
    margin-bottom: 0;
}

#card-button-container-3 {
    grid-area: home;
    margin-bottom: 40px;
}

.button {
    display: flex;
    height: 100%;
    width: 90%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#processed-quests-button {
    grid-area: processed-quests;
    position: relative;
    top: -2px;
    justify-self: center;
}

.inactive {
    background-color: rgb(200, 200, 200);
}

.inactive:active {
    transform: none;
}
