/** CSS for student-choose-class.html */

.modal-header {
    border: none;
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    justify-content: center;
    max-height: max-content;
    /* word-wrap: break-word; */
}

.modal-body iframe {
    width: 430px;
    height: 315px;
}

.modal-footer {
border: none;
}

.btn {
    background-color: #ff80ee;
    border: none;
}

#main-content-card {
    grid-template-columns: 100%;
    grid-template-areas: 
        "title"
        "bitmoji"
        "description"
        "instructions"
        "more-info"
        "submit-quest"
        "new-quest"
        "home";
    align-items: center;
}

.text-container {
    display: flex;
    justify-content: center;
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}

#quest-title-container {
    grid-area: title;
    font-weight: 600;
    margin-top: 20px;
    margin-top: 30px;
    height: 45px;
}

.image-container {
    grid-area: bitmoji;
    height: 180px;
    width: 180px;
    justify-self: center;
    border: 2px solid #ff80ee;
    border-style: dashed;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

#quest-description-container {
    grid-area: description;
    margin-bottom: 0;
    width: 90%;
    justify-self: center;
}

#quest-instructions-container {
    grid-area: instructions;
    margin-top: 0;
    margin-bottom: 0;
}

#quest-information-container {
    grid-area: more-info;
    margin-top: 5px;
    margin-bottom: 35px;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

#card-button-container-1 {
    grid-area: submit-quest;
    margin-top: 0;
}

#card-button-container-2 {
    grid-area: new-quest;
}

#card-button-container-3 {
    grid-area: home;
    margin-bottom: 40px;
}

#submit-quest-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#new-quest-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#home-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#quest-instructions, #quest-information {
    text-decoration: underline;
}
