/** CSS for student-all-classes.html */

#main-content-card {
    grid-template-areas:
        "card-text"
        "extra-break"
        "class-list"
        "break"
        "back";
    margin-bottom: 60px !important;
}

.card-text-container {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.class-list {
    justify-content: center;
    justify-self: center;
    grid-area: class-list;
    max-height: 300px;
    width: 85%;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 11.5pt;
}

.class-list::-webkit-scrollbar {
    display: none;
}
  
.class-list {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.class-container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 40% 34% 6%;
    border: 1px dashed #ff7b00;
    border-radius: 10px;
    background: linear-gradient(rgba(236, 236, 236, 0.8), rgba(255, 255, 255, 0.7)), url("/img/background_pattern_2.png");
    font-weight: 600;
    margin-bottom: 10px;
}


.student-class-container {
    background: linear-gradient(rgba(255, 190, 245, 0.8), rgba(255, 227, 251, 0.7)), url("/img/background_pattern_2.png");
    border-color: rgb(255, 0, 217)
}

/* .class-container:last-child {
    margin-bottom: 0;
} */

.ribbon-container {
    display: flex;
    justify-content: center;
}

.ribbon-container img {
    width: 25px;
    height: 25px;
    align-self: center;
}


.ribbon-container p {
    align-self: center;
    margin: 0;
    font-size: 14pt;
    color: #ff7b00;
}

#leaf-icon {
    justify-self: center;
    align-self: center;
    width: 15px;
    height: 15px;
    position: relative;
    right: 5px;
}

.class-container:last-child {
    margin: 0;
}

.class-name {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
}

.class-points {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

#card-button-container-1 {
    margin-bottom: 40px;
}
