/** CSS for student-home.html */

.heading-container {
    margin-bottom: 10px;
}

.student-points-container {
    display: flex;
    justify-content: center;
    height: 35px;
    margin-bottom: 30px;
}

.student-points-container img {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 3px;
}

.student-points-container p {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: 'Mali', Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 600;
    margin-left: 10px;
    color: #ff8000;
    text-shadow: 1px 1px 1px rgba(62, 63, 66, 0.788);
}

#main-content-card {
    grid-template-areas:
        "card-text"
        "my-class"
        "my-quest"
        "completed-quests"
        "break"
        "logout";
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    height: 100%;
}

#card-button-container-1 {
    display: flex;
    grid-area: my-class;
}

#card-button-container-2 {
    grid-area: my-quest;
}

#card-button-container-3 {
    grid-area: completed-quests;
    margin-bottom: 0;
}

#card-button-container-4 {
    grid-area: logout;
    margin-bottom: 40px;
}

.card-button-container .button {
    display: flex;
    height: 100%;
    align-items: center;
}

#home-message {
    margin-bottom: 20px;
}