/** CSS for student-my-class.html */

#main-content-card {
    grid-template-areas:
        "card-text"
        "extra-break"
        "student-list"
        "break"
        "back";
    margin-bottom: 60px !important;
}

.card-text-container {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.student-list {
    justify-content: center;
    justify-self: center;
    grid-area: student-list;
    max-height: 300px;
    width: 85%;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 11.5pt;
}

.student-list::-webkit-scrollbar {
    display: none;
}
  
.student-list {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.student-container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 60% 34% 6%;
    border: 1px dashed #ff7b00;
    border-radius: 10px;
    background: linear-gradient(rgba(254, 255, 168, 0.7), rgba(254, 255, 168, 0.7)), url("/img/background_pattern_2.png");
    font-weight: 600;
    margin-bottom: 10px;
}

#class-total-container {
    display: grid;
    width: 85%;
    grid-template-rows: 100%;
    grid-template-columns: 60% 34% 6%;
    border: 0px dashed #ff7b00;
    border-radius: 10px;
    background: none;
    font-weight: 600;
    margin: 0px auto;
    margin-bottom: 10px;
}

.currentStudent-container {
    border: 2px dashed darkcyan;
    background: linear-gradient(rgba(254, 255, 168, 0.7), rgba(254, 255, 168, 0.7)), url("/img/background_pattern_2.png");
}

.student-container:last-child {
    margin-bottom: 0;
}

.student-container img {
    justify-self: center;
    align-self: center;
    width: 15px;
    height: 15px;
    position: relative;
    right: 5px;
}

.student-container:last-child {
    margin: 0;
}

.student-name {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
}

.student-points {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

.message {
    text-align: center;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

/* .card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    grid-area: back;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
} */

#card-button-container-1 {
    margin-bottom: 40px;
}

#back-button {
    display: flex;
    height: 100%;
    align-items: center;
}