/** CSS for educator-remove-students.html */
#main-content-card {
    grid-template-areas: 
        "card-text"
        "student-list"
        "back";
    margin-bottom: 60px !important;
}

.card-text-container {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    height: 100%;
}

.student-list {
    grid-area: student-list;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.text-container {
    display: flex;
    width: 90%;
    height: 80px;
    justify-content: center;
    align-self: center;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
}

.student-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.student-name {
    display: flex;
    height: 100%;
    align-items: center;
    grid-area: name;
}

.message {
    text-align: center;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    grid-area: back;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

#back-button {
    display: flex;
    height: 100%;
    align-items: center;
}
