/** CSS for student-processed-quests.html */

#main-content-card {
    grid-template-areas:
        "quest-list"
        "break"
        "home";
    margin-bottom: 60px !important;
}

.quest-list {
    /* display: flex; */
    width: 90%;
    max-height: 600px;
    grid-area: quest-list;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 10pt;
    justify-self: center;
    padding-right: 9px;
    padding-left: 9px;
}

.quest-list::-webkit-scrollbar {
    display: none;
  }
  
.quest-list {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.quest-container {
    display: grid;
    grid-template-columns: 36% 54% 10%;
    grid-template-rows: repeat(4, 33.3px);
    grid-template-areas: 
        "quest-bitmoji quest-title notification"
        "quest-bitmoji quest-points quest-points"
        "quest-bitmoji quest-date quest-date"
        "quest-bitmoji share share";
    /* background-color: rgb(255, 241, 254); */
    background: linear-gradient(rgba(216, 233, 255, 0.7), rgba(238, 238, 238, 0.7)), url("/img/background_pattern_8.png");
    border-radius: 10px;
    align-items: center;
    /* margin-bottom: 15px; */
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
    width: 100%;
    margin-bottom: 15px;
}
.sharethis-inline-share-buttons {
    grid-area: share;
}

.quest-container:last-child {
    margin-bottom: 0;
}

.quest-title {
    /* display: flex;
    height: 100%;
    align-items: center; */
    grid-area: quest-title;
    font-weight: 600;
    /* justify-self: center; */
    margin: 0;
    /* margin-left: 10px; */
}

.quest-points {
    grid-area: quest-points;
    /* justify-self: center; */
    margin: 0;
}

.quest-date {
    grid-area: quest-date;
    /* justify-self: center; */
    margin: 0;
}

.approved {
    font-weight: 600;
    color: rgb(0, 197, 0);
}

.rejected {
    font-weight: 600;
    color: rgb(255, 0, 0);
}

.bitmoji {
    grid-area: quest-bitmoji;
    height: 85px;
    width: 85px;
    border: 1px solid #ff7b00;
    border-style: dashed;
    border-radius: 10px;
    justify-self: center;
    object-fit: scale-down;
}

.notification {
    grid-area: notification;
    height: 18px;
    width: 18px;
}

#card-button-container-1 {
    margin-bottom: 40px;
}

.message-container {
    text-align: center;
    height: 84%;
    align-self: center;
}

.message-container img {
    border: none;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.message {
    font-weight: 600;
    font-size: 12pt;
}