/** CSS for student-choose-class.html */

.modal-header {
    border: none;
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    justify-content: center;
    height: 500px;
    /* word-wrap: break-word; */
}

.modal-body iframe {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

.modal-footer {
border: none;
}

.btn {
    background-color: #ff80ee;
    border: none;
}

#main-content-card {
    grid-template-columns: 100%;
    grid-template-areas: 
        "title"
        "description"
        "instructions"
        "more-info"
        "accept"
        "reject";
    align-items: center;
}

.text-container {
    display: flex;
    justify-content: center;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 15pt;
    margin: 0;
}

.task-title-container {
    grid-area: title;
}

.task-description-container {
    grid-area: description;
}

.task-instructions-container {
    grid-area: instructions;
}

.task-information-container {
    grid-area: more-info;
}

.card-button-container {
    display: flex;
    height: 50px;
    width: 180px;
    background-color: #ff80ee;
    justify-content: center;
    border-radius: 10px;
    font-size: 15pt;
    justify-self: center;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgb(116, 103, 103);
}

#card-button-container-1 {
    grid-area: submit;
}

#card-button-container-2 {
    grid-area: home;
}

#accept-button {
    display: flex;
    height: 100%;
    align-items: center;
}

#reject-button {
    display: flex;
    height: 100%;
    align-items: center;
}
